<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="MetadataExchangeHttpBinding_IMetadataExchange">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
            <wsHttpContextBinding>
                <binding name="ServiceMultipleTokenBinding_Resource">
                    <security>
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="ServiceMultipleTokenBinding_ResourceFactory">
                    <security>
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="ServiceMultipleTokenBinding_Search">
                    <security>
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
                <binding name="ServiceMultipleTokenBinding_Resource1">
                    <security>
                        <message establishSecurityContext="false" />
                    </security>
                </binding>
            </wsHttpContextBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5725/ResourceManagementService/Resource"
                binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_Resource"
                contract="Resource" name="ServiceMultipleTokenBinding_Resource" />
            <endpoint address="http://localhost:5725/ResourceManagementService/ResourceFactory"
                binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_ResourceFactory"
                contract="ResourceFactory" name="ServiceMultipleTokenBinding_ResourceFactory" />
            <endpoint address="http://localhost:5725/ResourceManagementService/Enumeration"
                binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_Search"
                contract="Search" name="ServiceMultipleTokenBinding_Search" />
            <endpoint address="http://localhost:5725/ResourceManagementService/Alternate"
                binding="wsHttpContextBinding" bindingConfiguration="ServiceMultipleTokenBinding_Resource1"
                contract="Resource" name="ServiceMultipleTokenBinding_Resource1" />
            <endpoint address="http://localhost:5725/ResourceManagementService/MEX"
                binding="wsHttpBinding" bindingConfiguration="MetadataExchangeHttpBinding_IMetadataExchange"
                contract="System.ServiceModel.Description.IMetadataExchange"
                name="MetadataExchangeHttpBinding_IMetadataExchange" />
        </client>
    </system.serviceModel>
</configuration>